[submodule "oh-my-zsh/ohmyzsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "oh-my-zsh-plugins/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-plugins/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "oh-my-zsh-plugins/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = oh-my-zsh-plugins/.oh-my-zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
